<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhsp.dhspservice.mapper.MenuMapper" >
    <select id="getMenuType" resultType="com.dhsp.dhspservice.bean.entity.MenuInfo">
        SELECT menu_name as menuName,menu_icon as menuIcon, menu_url as menuUrl
        FROM menuinfo
        where "menu_type" = #{menuType}
    </select>
</mapper>